.bodyBackground {
  background-image: url('../public/img/paper.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
}

.main-area, .info-area, .feature-area, .massDataContainer {
  background-color: #f8e2e4; 
  color: black;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  margin: 2rem auto;
  max-width: 1200px; 
  font-family: 'Courier New', Courier, monospace;
}

.main{
  min-height: 100vh;
}

.page-title, .massDataTitle {
  font-size: 2.5rem; 
  color: black;
  margin-bottom: 1.5rem;
}

.btn, .btn-light {
  background-color: black;
  color: #f8e2e4;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 1.5rem;
  transition: background-color 0.3s ease;
  font-size: 1.5rem;
}

.btn-light:hover, .btn:hover {
  background-color: #f8e2e4;
  color: black;
}


.feature-area {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box {
  flex-basis: 30%;
  margin: 1rem;
  padding: 1.5rem;
  border: 1px solid black;
  transition: transform 0.3s ease;
}

.box:hover {
  transform: translateY(-10px);
}


@media (max-width: 768px) {
  .main-area, .info-area, .feature-area {
    margin: 1rem;
    padding: 1rem;
    max-width: 90%;
     
  }

  .page-title, .massDataTitle {
    font-size: 2rem;
  }

  .btn, .btn-light {
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
  }

  .feature-area, .info-area, .main-area {
    flex-direction: column;
    align-items: center;
  }

  .box {
    flex-basis: 90%;
  }
}

@media (max-width: 480px) {
  .page-title, .massDataTitle {
    font-size: 1.5rem;
    
  }

  .btn, .btn-light {
    font-size: 1rem;
  }
}
